<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Has indicado que has completdao la tarea: <%= @task %>, confirma para actualizar.</h1>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/" role="button">Confirmar</a>
                <a class="btn btn-primary btn-lg" href="/" role="button">Cancelar</a>
            </div>
        </div>
    </div>
</div>
