<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Has indicado que has completado la tarea <%= @task %>,por favor confirma para actualizar.</h1>
                <hr class="my-4">
                <div>
                    <form action="/<%= @task %>/completed" method="post">
                        <input type="hidden" name="_method" value="put">
                        <input class="btn btn-primary btn-lg" type="submit" name="delete" value="Confirmar">
                        <a class="btn btn-primary btn-lg" href="/" role="button">No</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
