<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Estas seguro de eliminar la Tarea: <strong class="text-light bg-dark"><%= @task %></strong>?.</h1>
                <hr class="my-4">
                <div>
                    <form action="/<%= @task %>/deleted" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input class="btn btn-primary btn-lg" type="submit" name="delete" value="Si">
                        <a class="btn btn-primary btn-lg" href="/" role="button">No</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
