<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Estas seguro de eliminar la Tarea?</h1>
                <p class="lead">Hacer la cama</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="#" role="button">Si</a>
                <a class="btn btn-primary btn-lg" href="/" role="button">No</a>
            </div>
        </div>
    </div>
</div>

