<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <h1 class="display-4 ml-4 mr-4">Por favor ingresa la tarea a continuacion:</h1>
                <hr class="my-4">
                <form action="/create" method="post">
                    <div class="form-group ml-4 mr-4">
                        <input type="text" class="form-control" placeholder="Ingresa la tarea aqui" id="task" name="task">
                    </div>
                    <button type="submit" class="btn btn-primary ml-4">Guardar</button>
                    <a class="btn btn-primary" href="/" role="button">cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>