<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Por favor ingresa la tarea a continuacion:</h1>
                <hr class="my-4">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ingresa la tarea aqui">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-primary" href="/" role="button">cancelar</a>
                </form>
            </div>
        </div>
    </div>
</div>