<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Task 2020</title>
    <script src="https://kit.fontawesome.com/555b2f4f79.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
    <div class= "container">
        <div class="row mt-4 justify-content-center">
            <div class="col text-center">
                <h1>PROGRAMA DE TAREAS 2020</h1>
            </div>
        </div>
    </div>

    <%= yield %>

    <footer class= "container">
        <div class="row mt-4 justify-content-center">
            <div class="col text-center">
                <p>Programa Basico con sinatra 2020 por JEOL</p>
            </div>
        </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/javascript.js"></script>
</body>
</html>
