<div class="container">
    <div class="row justify-content-center mb-4">
        <div class="col text-center">
            <h2>Actualmente el sistema regista ## tareas pendientes</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <div class="card" style="width: 18rem;">
                <img src="img/taskincompleted.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tareas por completar</h5>
                  <p class="card-text">Actualmente el sistema registra ##  tareas por completar</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Mostrar Tares por completar</a>
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card" style="width: 18rem;">
                <img src="img/taskcompleted.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tareas completadas</h5>
                  <p class="card-text">Actualmente el sistema registra ##  tareas por completadas</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Mostrar Tareas Completadas</a>
                </div>
            </div>
        </div>
    </div>
</div>