<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4">
            <div class="card">
                <img src="img/taskinfo.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= @task %></h5>
                    <p class="card-text">Tarea creada con el id <%= @taskid %> en la fecha y hora  <%= @taskdate %></p>
                    <a href="/" class="btn btn-primary">Volver a Inicio</a>
                </div>
            </div>
        </div>
    </div>
</div>
